@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NexaTextLight";
  src: url("/font/NexaTextDemo-Light.ttf");
}

@font-face {
  font-family: "NexaTextBold";
  src: url("/font/NexaTextDemo-Bold.ttf");
  font-weight: 900;
}
.font-gradient {
  background: -webkit-linear-gradient(#a5deff, #0a1752);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hamburger.active .bar2 {
  opacity: 0;
}

.hamburger.active .bar1 {
  transform: translateY(10px) rotate(45deg);
}

.hamburger.active .bar3 {
  transform: translateY(-10px) rotate(-45deg);
}
.hamburger {
  cursor: pointer;
}